
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow any user (authenticated or not) to read plant data.
    match /plants/{plantId} {
      allow read: if true;
      allow write: if request.auth != null;

      // Allow authenticated users to write to subcollections.
      match /{allPaths=**} {
        allow write: if request.auth != null;
      }
    }
  }
}
